<div id="<%= dom_id post %>">
  <p>
    <strong>Context:</strong>
    <%= post.context %>
  </p>

  <p>
    <strong>User:</strong>
    <%= post.user_id %>
  </p>

  <% if post.image.present? %>
    <p>
      <strong>Image:</strong><br>
      <%= image_tag(post.image.url, size: "300x300") %>
    </p>
  <% end %>

  <% if post.favorited_by?(current_user) %>
    <p>
      <%= button_to 'いいね外す', post_favorites_path(post), method: :delete, remote: true %> <%= post.favorites.count %>
    </p>
  <% else %>
    <p>
      <%= button_to 'いいねする', post_favorites_path(post), method: :post, remote: true %> <%= post.favorites.count %>
    </p>
  <% end %>
</div>
